body
{
    background-image: url(img/bg/bg_geko.jpg);

    background-repeat: no-repeat;

    background-color: #211F20;

    font-family: Verdana,Arial,Helvetica,sans-serif;

    font-size: 12px;

    color: #FFF;
}

html, body
{
    height: 100%;

    padding: 0;

    margin: 0;
}

img
{
    border: none;
}

/** Universe has a trick with the height for the footer to stay at the
    bottom. */

#universe
{
    float: left;

    min-width: 100%;

    min-height: 100%;

    height: auto !important;

    height: 100%;

    margin: 0 auto -85px;
}

#coolBg
{
    position: absolute;

    z-index: -1;

    top: 10px;

    left: 56px;

    width: 252px;

    height: 98%;

    background-image: url(img/bg/bg_shadowbox.png);

    background-repeat: repeat-y;
}

#plus1
{
    position: absolute;

    top: 111px;

    left: 321px;
}

#like
{
    position: absolute;

    top: 111px;

    left: 390px;
}

#header
{
    float: left;

    width: 100%;

    height: 10px;

    background-image: url(img/bg/bg_top_border.png);

    background-repeat: repeat-x;
}

#content
{
    float: left;

    min-width: 400px;
}

.webPadding
{
    margin: 0 0 0 60px;

    padding: 0 0 0 20px;
}

#footer
{
    height: 85px;

    float: left;

    width: 900px;
}

#text
{
    float: left;

    width: 425px;

    padding: 50px 0 20px 0;
}

.textTitle
{
    padding: 3px 5px;

    color: #333333;

    background-color: #F8C73C;

    font-size: 14px;

    font-style: italic;
}

.textSubTitle
{
    padding: 3px 5px;

    color: #333333;

    background-color: #F8C73C;

    font-size: 12px;

    font-style: italic;
}

p
{
    margin: 10px 0;

    padding: 0;
}

#logo
{
    float: left;

    width: 100%;

    margin: 40px 0 0 0;
}

.minimal_quote
{
    font-size: 9px;

    font-style: italic;

    color: #ccc;
}

/* Main buttons
*/

#buttons
{
    float: left;

    width: 100%;
}

a
{
    text-decoration: none;

    color: #A5D0DF;
}

a:hover
{
    text-decoration: none;

    color: #55B9DF;
}

#buttons a, #buttons a:hover
{
    text-decoration: none;

    color: #FFF;
}

#buttons ul
{
    float: left;

    margin: 0;

    padding: 0;

    border: 3px solid #FFFFFF;
}

#buttons ul li
{
    float: left;

    margin: 0;

    padding: 5px 15px;

    list-style: none;

    background-color: #55B9DF;

    color: #FFFFFF;
}

/* Social bar
*/

#socialBar
{
    float: left;

    width: 200px;
}

#secondLogo
{
    margin: 0 0 5px 5px;
}

#footer ul
{
    float: left;

    margin: 0;

    padding: 0;
}

#footer ul li
{
    float: left;

    margin: 0;

    padding: 0;

    list-style: none;
}

/* Contact
*/

#contact
{
    float: right;

    margin-top: 20px;

    font-size: 10px;
}