/** General */

body {
	/*
	 background-image: url("../img/base/bg-line.png");
	 background-repeat: repeat-x;
	 */
	background-image: url("../img/base/bg-line.png"), url("../img/base/bg-bottom.png");
	background-repeat: repeat-x, repeat;
}

html {
	background-image: url("../img/base/bottom.png");
	background-repeat: repeat;
}

#main {
	background-image: url("../img/base/bg-line.png");
}

.round5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.round10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

:link img {
	border: none;
}

input, textarea {
	outline: none;
}

#aboutUs {
	float: left;
	width: 940px;
	margin: 0 10px;
}

#aboutUsBg {
	float: left;
	width: 906px;
	height: 24px;
	font-size: 10px;
	color: #797978;
	background-image: url("../img/base/footer-linea.png");
}

#aboutUsBg div {
	float: left;
	margin: 6px 0 0 20px;
}

#aboutUsBg .auSpace {
	margin-left: 500px;
}

#content {
	padding: 15px 0;
}

/**
 * 	Flash messa
 */

.flash-message {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 20px;
	text-align: center;
	background-color: #789FAD;
	font-size: 20px;
	color: #fff;
}

/** Links */

#aboutUsBg a {
	color: #797978;
	text-decoration: none;
}

/** FB Connect */

#fbHeader {
	background-image: url("../img/base/bg-line.png");
	background-color: #527FA2;
	background-repeat: repeat-x;
	float: left;
	height: 36px;
	width: 100%;
}

#fbHeader a {
	text-decoration: none;
	color: #ccc;
}

#fbHeader a:hover {
	color: #fff;
}

#fbBtnLogin {
	float: right;
	margin: 4px 10px;
	width: 202px;
	height: 27px;
	background: url("../img/base/facebook-btn-conectar.png") top left;
}

#fbBtnLogin:hover {
	background: url("../img/base/facebook-btn-conectar.png") bottom left;
}

#fbBtnLogout {
	float: right;
	margin: 8px 10px;
}

#followSendKick ul {
	margin: 0 0 0 30px;
	padding: 0;
}

#followSendKick li {
	float: left;
	margin: 6px 0 0 0;
	padding: 0;
	list-style: none;
}

#followSendKick .gplus {
	margin-left: 20px;
}

/** Search bar */

#search {
	margin: 15px 0 0 0;
	padding: 5px 0;
	background-image: url("../img/base/busqueda-linea.png");
	height: 34px;
}

#search input {
	width: 264px;
	height: 28px;
	padding: 0 15px;
	margin: 4px 20px 0 0;
	background-image: url("../img/base/busqueda-search-box.png");
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
}

#search img {
	float: left;
	margin: 0 0 0 50px;
}

/** Search view */

#searchView .homeFeatured {
	margin-bottom: 15px;
}

/** Home SendKick Ad */

#sendkickBay {
	margin: 55px 0 0 0;
}

#sendkickBay #sendkickBayInstructions {
	margin: 40px 0 0 0;
}

/** Home featured */

.homeFeatured {
	background-image: url(../img/home/featured-linea.png);
	height: 142px;
}

.feature {
	float: left;
	width: 293px;
	height: 129px;
	margin-top: 5px;
	margin-left: 15px;
	background: url(../img/home/featured-cupon-1.png) no-repeat;
	font-size: 0.8em;
}

.feature .Type {
	margin: 9px 0 0 15px;
	float: left;
	width: 250px;
}

.feature .TypeName {
	float: left;
	color: #FFF;
	font-weight: bolder;
	font: 1.6em "Arial Black", Gadget, sans-serif;
}

.feature .TypeTag a {
	float: right;
	display: block;
	background: url(../img/home/categoria.png) no-repeat;
	text-indent: -99999px;
	height: 11px;
	width: 58px;
	margin: 8px 0 0 0;
}

.feature .Avatar {
	float: left;
	width: 50px;
	height: 50px;
	margin: 11px 5px 3px 15px;
	border: 1px solid #999;
}

.feature .Desc {
	margin: 11px 10px 0 0;
	float: left;
	width: 200px;
}

.feature .Details {
	margin: 0 0 0 15px;
	float: left;
	width: 265px;
	font-size: 0.9em;
	color: #666;
}

.feature .DetailsInfo {
	float: left;
}

.DetailsGo a {
	float: right !important;
	margin: 0 !important;
}

.buttonGoKick a {
	float: left;
	width: 51px;
	padding: 0;
	margin: 4px 0 0 5px;
	border: 1px solid #92A4CC;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #EBEEF5;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	color: #7288AF;
}

.buttonGoKick a:hover {
	border: 1px solid #ccc;
}

/** The ticket */

.vTitle {
	float: left;
}

.theTickets {
	float: left;
	width: 95%;
}

.ticket {
	float: left;
	font-size: 0.8em;
	margin: 13px 5px 13px 25px;
}

.ticket .square1 {
	float: left;
	margin: 0;
	width: 60px;
}

.ticket .square3 {
	float: left;
	margin: 0;
	width: 125px;
	margin-left: 3px;
}

.ticket .square1 a.category {
	display: block;
	background: url(../img/home/categoria.png) no-repeat;
	height: 11px;
	width: 58px;
	margin: 5px auto;
}

.ticket .square1 a.btnReloadCoupon {
	display: block;
	height: 50px;
	width: 50px;
	border: 1px solid #C30;
	margin: 0 0 0 5px;
	background: none;
	background-color: #F5A618;
	text-decoration: none;
	text-align: center;
	font-size: 10px;
	color: #fff;
}

.ticket .avatar {
	height: 50px;
	width: 50px;
	margin-left: 5px;
	border: 1px solid #999;
}

.ticket .name {
	font: 1.3em bold;
	color: #C30;
	margin-top: 18px;
}

.ticket .description {
	font: 0.9em 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	color: #666;
	margin: 5px 0 0 0 !important;
	padding: 0 !important;
}

/** Brands admin */

#adminMenuLeft {
	float: left;
}

#adminMenuRight {
	float: right;
}

.adminBtns ul {
	margin: 0;
	padding: 0;
}

.adminBtns li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.adminBtns a {
	display: block;
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: none;
	background-color: #F5A618;
	list-style: none;
	text-decoration: none;
	color: #fff;
}

.adminBtns a:hover {
	background-color: #c30;
}

/** The Coupon */

#couponsList {
	float: left;
	background-color: #fff;
	width: 940px;
}

.theCupon {
	float: left;
	background-color: #fff;
	width: 940px;
	margin-bottom: 15px;
}

.cupon {
	float: left;
	width: 575px;
	padding: 15px 0;
}

.cupon div {
	margin: 0 0 0 20px;
	width: 350px;
}

.cupon .avatar {
	float: left;
	border: 1px solid #ccc;
	width: 144px;
	height: 144px;
}

.cupon .type {
	float: left;
}

.cupon .type .tag {
	float: left;
	width: auto;
	margin: 0;
}

.cupon .type .tag a {
	display: block;
	background: url(../img/home/categoria.png) no-repeat;
	width: 58px;
	height: 11px;
	margin: 10px 0;
}

.cupon .type .info {
	float: right;
	text-align: right;
	font-size: 10px;
	width: auto;
	margin: 0;
}

.cupon .name {
	float: left;
	font: 1.5em "Arial Black", Gadget, sans-serif;
	color: #c30;
}

.cupon .desc {
	float: left;
}

.cupon .price {
	margin-top: 15px;
	float: left;
}

.cupon .kickBtn {
	float: left;
	margin-top: 15px;
}

.cuponSocial {
	float: left;
	width: 200px;
	margin-left: 50px;
}

.cuponSocial div {
	width: auto;
	margin-top: 10px;
}

.cuponSocial a {
	text-decoration: none;
	color: #C30;
}

.cuponSocial a:hover {
	text-decoration: underline;
}

.kickBtn a {
	float: right;
	display: block;
	width: 130px;
	height: 30px;
	padding-top: 10px;
	border: 1px solid #ccc;
	background-color: #F5A618;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

a.kicked {
	border: 1px solid #ccc;
	background-color: #000;
	color: #ccc;
}

.kickBtn div {
	float: right;
	width: 50px;
	margin: 11px 0 0 5px;
}

/** Home Today/Recent */

#homeToday {
	background-color: #FFF;
}

#homeRecent {
	margin: 0 0 0 20px;
	background-color: #FFF;
}

#homeToday, #homeRecent {
	margin: 15px 0 0 0;
	width: 460px;
}

/** Home Tags */

#homeTags {
	background-color: #FFF;
	font-size: 13px;
	margin: 15px 0 0 0;
}

#homeTags ul {
	float: left;
	margin: 5px 0 0 0;
	list-style-image: url(../img/home/categorias-bullet.png);
}

#homeTags li {
	margin-bottom: 3px;
}

#homeTags a {
	text-decoration: none;
	color: #828282;
}

.homeTagSpacer {
	float: left;
	margin: 0 20px 0 25px;
}

/** Register */

.regForm div {
	margin: 10px 0;
}

.regForm form {
	padding: 15px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.regForm a {
	font-size: 12px;
}

/** FORMS */

.error {
	font-size: 12px;
	font-style: italic;
	color: #F7A135;
}

.frmErrors {
	text-align: left;
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
	color: #F7A135;
}

.frmErrors ul {
	list-style: none;
}

.frmErrors li {
	margin: 3px 0;
}

form {
	text-align: right;
}

form div label {
	padding-right: 15px;
}

form div input, form div textarea {
	width: 350px;
	height: 25px;
	margin: 3px 0;
	padding: 3px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form div textarea {
	height: 75px;
}